$ratio: 375/10;

@function px2rem($px) {
  @return $px / $ratio + rem;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@mixin flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
